<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<!-- This is enabling authentication we have to use <login-config> element -->
<!-- We have sub element <auth_method> where we have 4 of them we use now BASIC -->
  <login-config>
  	<auth-method>BASIC</auth-method>
  </login-config>
  
  <!-- When it's time for authorization, the container will map its vendor-specific
  "role" information to whatever <role-name>'s it finds in your DD's <security-role>-->
  <security-role><role-name>Admin</role-name></security-role>
  <security-role><role-name>Member</role-name></security-role>
  <security-role><role-name>Guest</role-name></security-role>
  
</web-app>
